<aside class="right">
  <h3>Contents</h3>
  <div class="page-sections">...</div>
</aside>

<script>
  setTimeout(() => {
    if (!window.__is_page__) {
      document.querySelector('aside.right > h3').setAttribute('hidden', true)
    }
  }, 100);
</script>