<aside class="left">
  <%
    let folder = null;
    if (is_page()) {
      const path = page.source.split('/');

      folder = page.layout !== 'index' && path.length > 1 ? path[0] : null;
    }
  %>

  <% if (folder) { %>
    <ul role="menu" class="leftmenu">
      <% site.pages.filter(p => p.layout !== 'index' && p.source.startsWith(folder)).each((p) => { %>
        <li role="menuitem" class="leftmenu__item"><a href="/<%= p.path %>"><%= p.title %></a></li>
      <% }); %>
    </ul>
  <% } %> 
</aside>