<header>
  <div role="menubar" class="menubar">
    <div class="logo">
      <small>&lt;</small><%= config.name %><small>/&gt;</small>
    </div>
    <ul role="menu" class="menu">
      <% config.menu.forEach((item)=> { %>
        <li role="menuitem">
          <a href="<%= item.path %>">
            <%= item.text %>
          </a>
        </li>
        <% }) %>
    </ul>
    <a class="theme-toggle" href="javascript:void(0)"></a>
  </div>
  <script>
    {
      const state = {
        key: 'theme',
        theme: null,
        save() {
          localStorage.setItem(this.key, this.theme);
        },
        read() {
          return localStorage.getItem(this.key);
        }
      };

      const toggleCtrl = document.querySelector('.menubar .theme-toggle');

      function setTheme(_theme) {
        let theme = _theme
        if (theme !== 'dark' && theme !== 'light') {
          theme = 'light';
        }

        if (theme === state.theme) return;

        const bodyCls = document.body.classList;
        
        if (bodyCls.contains(state.theme)) {
          bodyCls.replace(state.theme, theme);
          toggleCtrl.classList.replace(state.theme, theme);
        } else {
          bodyCls.add(theme);
          toggleCtrl.classList.add(theme);
        }

        state.theme = theme;
        state.save();
      }

      toggleCtrl.onclick = () => {
        setTheme(state.theme === 'dark' ? 'light' : 'dark');
      };

      setTimeout(() => {
        setTheme(state.read());
      });
    }
  </script>
</header>