:root {
  --bg-color: #fff;
  --page-bg-color: #fff;
  --header-bg-color: #efefef;
  --primary-color: #333;
  --secondary-color: #666;
  --lite-color: #888;
  --lite-most-color: #ddd;
  --code-bg-color: #fff;
  --code-inline-bg-color: #feedd7;
  --link-text-color: #333;
  --link-active-color: #2a8867;
  --page-width: 80rem;
  --page-width-min: 40rem;
  --blockquote-bg-color: #feedd7;
  --color-info: rgba(36, 149, 157, 0.616);
  --color-warn: rgba(176, 112, 38, 0.617);
  --color-error: rgba(207, 38, 38, 0.613);
  --color-success: rgba(16, 152, 23, 0.615);
  --alert-color-text: #fff;
}
