---
title: false
styles: true
---

@import 'alembic';
@import './variables';

iframe {
  border: none;
  width: 100%;
  height: 100vh;
}

table {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;

  thead,
  tbody {
    width: 100%;
    tr {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      border-bottom: 1px solid #ddd;
      align-items: center;
    }
  }

  th,
  td {
    flex: 1;
    display: block;
    padding: 1rem 6px;
  }

  th {
    font-weight: normal;
    color: var(--primary-color);
    background-color: #efefef;
  }

  td {
    color: var(--secondary-color);
  }
}

.alert {
  position: relative;
  color: var(--alert-color-text);
  padding: 2rem 2rem 2rem 6rem;
  border-radius: 4px;

  &:before {
    content: '!';
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    display: block;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    transform: rotate(90deg);
  }

  &--info {
    background-color: var(--color-info);
    &:before {
      content: ':1';
      color: var(--color-info);
    }
  }
  &--warn,
  &--warning {
    background-color: var(--color-warn);
    &:before {
      content: ':o';
      color: var(--color-warn);
    }
  }
  &--danger,
  &--error {
    background-color: var(--color-error);
    &:before {
      content: ':(';
      color: var(--color-error);
      transform: rotate(90deg);
    }
  }
  &--done,
  &--success {
    background-color: var(--color-success);
    &:before {
      content: ':)';
      color: var(--color-success);
    }
  }
}

.cards {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;

  li {
    width: 50%;

    .card {
      display: block;
      box-sizing: border-box;
      height: 100%;
      color: var(--secondary-color);
      transition: border-color 0.3s linear;

      &__title {
        display: block;
        font-weight: bold;
        font-size: 1.3em !important;
        margin-bottom: 1.6rem;
        color: #333;
      }

      &:hover {
        color: var(--primary-color);
        border-color: #aaa;
      }
    }
  }

  &--x2 {
    &:nth-child(2n + 1) > p {
      margin-left: 0;
    }

    &:nth-child(2n) > p {
      margin-right: 0;
    }
  }

  &--x3 {
    li {
      width: 30%;

      &:nth-child(3n + 1) > p {
        margin-left: 0;
      }

      &:nth-child(3n) > p {
        margin-right: 0;
      }
    }
  }

  &--x4 {
    li {
      width: 20%;
      &:nth-child(4n + 1) > p {
        margin-left: 0;
      }

      &:nth-child(4n) > p {
        margin-right: 0;
      }
    }
  }
}

.landing {
  width: 61.8%;
  max-width: 61.8%;
  flex-direction: column;
  align-items: center;

  &-picture {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, #707eba 0%, #e8ebec 40%, #e8ebec 70%, #b2b9be 100%);
    background-blend-mode: color-dodge;

    p {
      width: 500px;
      font-size: 2.4rem;
      line-height: 1;
      font-weight: 700;
      letter-spacing: 4px;
      color: #789;
    }
  }
}
