<%
 
 const dirname = page.path.split('/')[0]; 
 const articles = site.pages.filter(x=> !x.path.endsWith('index.html') && x.path.startsWith(dirname));

 articles.sort((a, b) => Number(a.order) - Number(b.order));
 
%>

<div class="page page-index">
  <ul>
    <% articles.each(function (art) { %>
    <li><a href="/<%= art.path %>"> <%= art.title || art.path %> </a></li>
    <% }) %>
  </ul>

  <div class="page__content"><%- page.content %></div>
</div>
