<div class="page page-index">
  <ul class="posts list">
    <% site.posts.each(function (art) { %>
      <li class="posts_item">
        <div class="list-item">
          <a href="/<%= art.path %>" class="list-item__link">
            <span class="list-item__title">
              <%= art.title %>
            </span>
          </a>

          <div class="list-item__meta">
            <%= date(art.date, 'MMMM DD, YYYY' ) %>
            by <%= art.author || 'unknown' %>
          </div>
        </div>
      </li>
      <% }) %>
  </ul>
</div>