main {
  flex: 1;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.58);
}

aside {
  width: 20rem;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);

  &.right {
    width: 25rem;
    ul {
      list-style-type: none;
    }
  }
}

header,
footer {
  height: 4rem;
  background-color: whitesmoke;
}

.root {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
}

.focus {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex: 1;
  overflow-y: auto;
  position: relative;
}

ul.tablist,
ul.menu {
  display: flex;
  list-style-type: none;
  flex-wrap: nowrap;
  margin: 0;
  text-align: center;

  li {
    flex: 1;
  }
}

.menubar {
  position: relative;
  width: var(--page-width);
  margin: 0 auto;
  display: flex;
  justify-content: center;

  .logo {
    position: absolute;
    top: 50%;
    left: -3rem;
    color: var(--link-active-color);
    font-weight: bold;
    font-size: 2rem;
    transform: translateY(-50%);
  }
}

ul.menu {
  width: 30rem;
  justify-content: center;
}

ul.tablist {
  border-bottom: 2px solid #ddd;
}
