html {
  font-size: 10px;
  font-family: Optimistic Display, -apple-system, ui-sans-serif, system-ui, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-size: 1.6rem;
}

:root {
  --site-theme-color: rgb(8 126 164);
  --site-blockquote-bg-color: antiquewhite;
}

ul,
ol {
  padding: 0;
  margin: 2rem 0;
  list-style-position: inside;

  li {
    display: list-item;
    margin: 0.5rem 0;

    > ul,
    > ol {
      margin: 0.5rem 0;
      padding-left: 1rem;
    }
  }
}

a {
  color: var(--site-theme-color);
  text-decoration: none;
  &:hover {
    color: var(--site-theme-color);
    border-bottom: 1px solid var(--site-theme-color);
  }
}

code {
  padding: 0 0.2rem;
}

blockquote {
  background-color: var(--site-blockquote-bg-color);
  margin: 0;
  padding: 1rem;
  border-radius: 4px 6px;
}

main {
  flex: 1;
  margin: 2rem 3rem 0rem 3rem;
  background-color: rgba(255, 255, 255, 0.58);
}

aside {
  width: 200px;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);

  &.right {
    width: 100px;
  }
}

header,
footer {
  height: 45px;
  background-color: #dedede;
}

footer {
  height: 18px;
}

.root {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
}

.focus {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex: 1;
  overflow-y: auto;
  position: relative;
}
