@font-face {
  font-family: OperatorMono;
  src: url(/fonts/OperatorMonoLig-Book.otf);
}

html {
  font-size: 10px;
  font-family: OperatorMono, Optimistic Display, -apple-system, ui-sans-serif, system-ui,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-variant-ligatures: common-ligatures;
}

// theme: light
:root {
  --bg-color: #fff;
  --page-bg-color: #fff;
  --header-bg-color: #efefef;
  --primary-color: #333;
  --secondary-color: #666;
  --lite-color: #888;
  --lite-most-color: #ddd;
  --code-bg-color: #fff;
  --code-inline-bg-color: #feedd7;
  --link-text-color: #333;
  --link-active-color: #2a8867;
  --page-width: 80rem;
  --page-width-min: 40rem;
  --blockquote-bg-color: #feedd7;
  --color-info: rgba(36, 149, 157, 0.616);
  --color-warn: rgba(176, 112, 38, 0.617);
  --color-error: rgba(207, 38, 38, 0.613);
  --color-success: rgba(16, 152, 23, 0.615);
  --alert-color-text: #fff;
}

body {
  margin: 0;
  padding: 0;
  color: var(--primary-color);
  background-color: var(--bg-color);
  font-size: 1.6rem;
}

// theme: dark
body.dark {
  --bg-color: #444;
  --page-bg-color: #444;
  --header-bg-color: #555;
  --primary-color: #fff;
  --secondary-color: #eee;
  --code-bg-color: #555;
  --code-inline-bg-color: #3e2607;
  --lite-color: #888;
  --lite-most-color: #ddd;
  --link-text-color: #efefef;
  --link-active-color: #87d5ba;
  --page-width: 21cm;
  --page-width-min: 40rem;
  --blockquote-bg-color: #333;

  --color-info: rgba(36, 149, 157, 0.616);
  --color-warn: rgba(176, 112, 38, 0.617);
  --color-error: rgba(207, 38, 38, 0.613);
  --color-success: rgba(16, 152, 23, 0.615);
  --alert-color-text: #fff;
}

ul,
ol {
  padding: 0;
  margin: 4rem 0;
  list-style-position: inside;
  list-style-type: decimal-leading-zero;

  li {
    margin: 1rem 0;

    &::marker {
      color: var(--secondary-color);
      font-size: 1.4rem;
    }

    > ul,
    > ol {
      margin: 0.5rem 0;
      padding-left: 1.618em;
    }
  }
}

a {
  color: var(--link-text-color);
  text-decoration: none;
  border-bottom: 1px solid var(--link-text-color);
  transition: color 0.3s linear;
  &:hover {
    color: var(--link-active-color);
    border-bottom-color: var(--link-active-color);
  }
  &:link, &:active, &:visited {
    color: var(--link-text-color);
  }
}

code {
  padding: 0 0.2rem;
}

blockquote {
  position: relative;
  margin: 0;
  padding: 2rem 2rem 2rem 4rem;
  border-radius: 4px 6px;
  background-color: var(--blockquote-bg-color);
  &:before {
    content: '“';
    position: absolute;
    top: 2.5rem;
    left: 1rem;
    display: block;
    width: 2rem;
    height: 2rem;
    font-style: italic;
    text-align: center;
    line-height: 2rem;
    font-size: 2rem;
  }
}

hr {
  margin: 5rem auto;
  padding: 0;
  width: 61.8%;
  height: 1px;
  transform: scaleY(0.5);
  border: 0;
  background-color: #ddd;
  position: relative;
  overflow: visible;

  &:after {
    position: absolute;
    content: ' ';
    display: block;
    width: 4px;
    height: 4px;
    top: -2px;
    left: 50%;
    transform: translateX(-50%) scaleY(2) rotate(45deg);
    background-color: #ddd;
  }
}

iframe {
  border: none;
  width: 100%;
  height: 100vh;
}

@import './highlight';
@import './layout';
@import './list';
@import './page';
@import './card';
@import './alert';
