html {
  font-size: 10px;
  font-family: Optimistic Display, -apple-system, ui-sans-serif, system-ui, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

// theme: light

:root {
  --bg-color: #fff;
  --page-bg-color: #fff;
  --header-bg-color: #efefef;
  --primary-color: #333;
  --secondary-color: #666;
  --code-bg-color: #fff;
  --code-inline-bg-color: #feedd7;
  --link-text-color: #333;
  --link-active-color: #004caa;
  --page-width: 21cm;
  --site-blockquote-bg-color: #feedd7;
}

// todo: dark & lite
// :root {
//   --bg-color: #444;
//   --page-bg-color: #333;
//   --header-bg-color: #444;
//   --primary-color: #fff;
//   --secondary-color: #eee;
//   --code-bg-color: #555;
//   --link-text-color: #efefef;
//   --link-active-color: #4c95ee;
//   --page-width: 21cm;
//   --site-blockquote-bg-color: rgb(56, 53, 48);
// }

body {
  margin: 0;
  padding: 0;
  color: var(--primary-color);
  background-color: var(--bg-color);
  font-size: 1.6rem;
}

ul,
ol {
  padding: 0;
  margin: 4rem 0;
  list-style-position: inside;

  li {
    margin: 1rem 0;

    &::marker {
      color: var(--secondary-color);
      font-size: 1.4rem;
    }

    > ul,
    > ol {
      margin: 0.5rem 0;
      padding-left: 1.618em;
    }
  }
}

a {
  color: var(--link-text-color);
  text-decoration: none;
  border-bottom: 1px solid var(--link-text-color);
  transition: color 0.3s linear;
  &:hover {
    color: var(--link-active-color);
    border-bottom-color: var(--link-active-color);
  }
}

code {
  padding: 0 0.2rem;
}

blockquote {
  background-color: var(--site-blockquote-bg-color);
  margin: 0;
  padding: 1rem;
  border-radius: 4px 6px;
}

hr {
  margin: 5rem auto;
  padding: 0;
  width: 61.8%;
  height: 1px;
  transform: scaleY(0.5);
  border: 0;
  background-color: #ddd;
  position: relative;
  overflow: visible;

  &:after {
    position: absolute;
    content: ' ';
    display: block;
    width: 4px;
    height: 4px;
    top: -2px;
    left: 50%;
    transform: translateX(-50%) scaleY(2) rotate(45deg);
    background-color: #ddd;
  }
}

iframe {
  border: none;
  width: 100%;
  height: 100vh;
}

@import './highlight';
@import './layout';
@import './list';
@import './page';
@import './card';
